<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/site.css" />
	<title>Tugas 1 AI</title>
</head>
<body>
	<div class="form_hasil">
		<form>
			<div id="form_title">
				<h2>Solusi Simulated Annealing</h2>
			</div>
			<input type="text" id="input_nm" placeholder="Nilai Minimum  : {{.nilai_minimum}}"><br>
			<input type="text" id="input_nm" placeholder="Nilai X1 		: {{.nilai_x1}}"><br>
			<input type="text" id="input_nm" placeholder="Nilai X2 		: {{.nilai_x2}}"><br>
			<input type="text" id="input_nm" placeholder="Nilai Akurasi 	: {{.akurasi}}%"><br>
			<h5 align="center">Oleh : Taufik Fathurahman [1301160790]<br>IFIK-40-03</h3>
		</form>
	</div>
</body>
</html>